#função DEF

In [7]:
def mult(a,b):
    x = a * b
    return x

if mult(5,6) == 30:
    print('correto')

print(mult(5,6))

correto
30

In [6]:
def diga_ola():
    print('Olá!')

diga_ola()

Olá!

In [12]:
def ordena(a,b):
    if a >  b:
        return a, b
    else:
        return b, a

print(ordena(3,7))
print(ordena(8, 4))

(7, 3)
(8, 4)

In [14]:
x = 200
print('Print A:', x)

def MostraX(x):
    print('Print C:', x)
    x = 3
    print('Print D :', x)

print('Print B:', x)
MostraX(10)
print('Print E:', x)

Print A: 200
Print B: 200
Print C: 10
Print D : 3
Print E: 200

#Função Lambda - anonima

In [17]:
verificar_se_e_par = lambda x: x % 2 == 0

print(verificar_se_e_par(8))

True
18000

In [18]:
salario_anual = lambda salario: salario * 12

print(salario_anual(1500))

18000

#Função MAP

In [22]:
quadrado = lambda x: x**2

lista_quadrado = list(map(quadrado,[3,4,5]))
print(lista_quadrado)

[9, 16, 25]

In [78]:
nomes = ['Pedro', 'Carina', 'Vitor']
tamanho = map(len, nomes)
print(list(tamanho))

tamanho = list(map(len, ['Pedro', 'Carina', 'Vitor']))
print(tamanho)

[5, 6, 5]
[5, 6, 5]

In [24]:
# Date / time

In [23]:
from datetime import date

In [25]:
aniversario = date(2023,10,15)
print( aniversario)

2023-10-15

In [26]:
proximo_aniversario = aniversario.replace(year=aniversario.year+1)
print(proximo_aniversario)

2024-10-15

In [27]:
formatado = aniversario.strftime('%d/%B/%Y')
print(formatado)

15/October/2023

In [28]:
print(date.today())

2023-08-02

In [31]:
from datetime import datetime

print(str(datetime.now()))

datetime.now()

2023-08-02 08:39:48.564373

datetime.datetime(2023, 8, 2, 8, 39, 48, 565371)

In [35]:
from datetime import date, timedelta
from dateutil.relativedelta import relativedelta

In [36]:
hoje = datetime.today()
data_defasada = hoje + relativedelta(months=-4)
data_formatada = data_defasada.strftime('%Y%m')
print(data_formatada)

202304

In [37]:
hoje = datetime.today()
data_defasada = hoje + relativedelta(months=-4)
data_formatada = data_defasada.strftime('%Y%m')
print(data_formatada)

202304

In [40]:
def data_ajustada(defasagem = 0):
    hoje = datetime.today()
    data_defasada = hoje + relativedelta(months=-defasagem)
    data_formatada = data_defasada.strftime('%Y%m')
    return data_formatada

print(data_ajustada(3))

202305

In [41]:
def celsius_para_fahrenheit(celsius):
    fahrenheit = (celsius * 9/5) + 32
    return fahrenheit

print(celsius_para_fahrenheit(25))

77.0

#EXERCICIOS DE SALA

#CRIE UMA FUNÇÃO LAMBDA CHAMADA EH_MULTIPLO_DEZ() QUE RETORNE TRUE SE UM DETERMINADO NUMERO É MULTIPLO DE 10 E FALSE CASO CONTRÁRIO

In [43]:


eh_multiplo_dez = lambda x: (x % 10) == 0
    
eh_multiplo_dez(45)

False

#CONVERTA O PROGRAMA ADE CALCULO DE FATORIAL DA AULA ANTERIOR PARA UMA FUNÇÃO. A FUNÇÃO RECEBE COMO ARGUMENTO O N E RETORNA O FATORIAL DE N.eh_multiplo_dez

In [55]:

'''n = int(input('Informe um número:'))
fatorial = 1
for i in range(1, n+1):
    fatorial *= i
    print('O fatorial de n', n, 'é igual a', fatorial)'''

def calc_fatorial(n):

    fatorial = 1

    for i in range(1, n+1):
        fatorial *= i
    return fatorial    

calc_fatorial(5)

120

CRIE UMA FUNÇÃO PRIMEIRO_NOME QUE RECEBE UMA STRING NOME COMPLETO E RETORNO SOMENTE O PRIMEIRO NOME. EM SEGUIDA, USE A FUNÇÃO MAP  PARA APLICAR A FUNÇÃO A UMA LISTA DE STRINGS: nomes = ['Maria Eduarda'',João Carlos', 'Anarute','Ana Clara']

In [82]:
def primeiro_nome(n):
    nome = n.split()
    nome1 = nome[0]
    return nome1


nomes = ['Maria Eduarda','João Carlos', 'Ana Rute','Ana Clara']
nome = map(primeiro_nome, nomes)
print(list(nome))


nome = list(map(primeiro_nome, ['Maria Eduarda','João Carlos', 'Ana Rute','Ana Clara']))
print(nome)

['Maria', 'João', 'Ana', 'Ana']
['Maria', 'João', 'Ana', 'Ana']

 ESCREVA UMA FUNÇÃO QUE RECEBA UMA DATA NO FORMATO DD/MM/AAAA E RETORNO O DIA DA SEMANA CORRESPONDENTE

In [104]:
from datetime import datetime

def dia_da_semana(data):
    # converte a string para datetime
    data = datetime.strptime(data, '%d/%m/%Y')
    # formata a data para obter o nome do dia da semana
    nome_dia_da_semana = data.strftime('%A')

    return nome_dia_da_semana

# exemplo de uso da função
data = '10/04/2023'
print(dia_da_semana(data))

Monday

In [1]:
from datetime import datetime

def dia_da_semana(date):
    date = datetime.strptime(date, "%d/%m/%Y")
    data_formatada = date.strftime('%A')
    return data_formatada

data = '15/10/1981'
print(dia_da_semana(data))

Thursday