# Banco de Dados
###  Salvar uma tabela

In [14]:
import pandas as pd
df_produtos = pd.DataFrame({'nome': ['ovos', 'manteiga', 'peixe'],
                   'valor': [10, 20, 30]})
df_produtos

       nome  valor
0      ovos     10
1  manteiga     20
2     peixe     30

In [18]:
import sqlite3
# Conectar ao banco de dados
conn = sqlite3.connect('coderhouse.db')

# Escrever o DataFrame na tabela 'produtos'
df_produtos.to_sql('produtos', conn, if_exists='replace', index=False)

# Fechar a conexão com o banco de dados
conn.close()

### Leitura da tabela

In [21]:
conn = sqlite3.connect('coderhouse.db')

# Executar uma consulta SELECT na tabela 'produtos' e converter em um DataFrame
query = "SELECT * FROM produtos"
df = pd.read_sql(query, conn)
print(df)

conn.close()

       nome  valor
0      ovos     10
1  manteiga     20
2     peixe     30

### Tabelas no Banco de Dados

In [23]:
conn = sqlite3.connect('coderhouse.db')

# Executar uma consulta que retorna as informações do esquema do banco de dados
query = "SELECT name FROM sqlite_master WHERE type='table'"
schema = pd.read_sql_query(query, conn)

# Imprimir o DataFrame com os nomes das tabelas
print(schema)

conn.close()

       name
0  produtos